$colorWhite: white;
$colorBlack: black;
$colorLightGrey: lightgrey;
$colorDarkGrey: darkgrey;
$colorDarkGreyPlus: rgb(71, 71, 71);

$bkgndCategoriesHeader: green;

$frm_border_inputs: #ccc;
$colorBtnSubmit: #4CAF50;
$colorBtnSubmitHover: #45a049;
