@mixin mix_container980 {
    width: 980px;
    /* border-left: 0.5px outset gray;
    border-right: 0.5px outset gray; */
    
}

@mixin mix_textColorWhite {
    color: $colorWhite;
}

@mixin mix_aLinksColorWhite {
    a {
      color: $colorWhite;  
    }
    
}