@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400");
* {
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p, li, a, button, input {
  font-size: 0.9rem;
  line-height: 1.7;
  text-decoration: none;
}

:root {
  --LightThemeBodyBG: #e9e8e8;
  --LightThemeTextColour: rgb(71, 71, 71);
  --DarkThemeBodyBG: #161616;
  --DarkThemeTextColour: $colorWhite;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--LightThemeBodyBG);
  font-size: 0.9rem;
  color: rgb(71, 71, 71);
}

/* h1, h2, h3, h4, h5, h6, p {
color: $colorWhite;
} */
a:hover {
  text-decoration: underline;
}

#global_head {
  background-color: black;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
  /* p,
  li,
  a {
    color: $colorWhite;
  } */
  color: white;
}
#global_head a {
  color: white;
}
#global_head nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#global_head nav #containerTopMenu {
  width: 980px;
  /* border-left: 0.5px outset gray;
  border-right: 0.5px outset gray; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
#global_head nav #containerTopMenu .logo {
  width: max-content;
  padding: 15px 25px;
}
#global_head nav #containerTopMenu #account_menu {
  padding: 15px 20px;
  display: flex;
  justify-content: center;
}
#global_head nav #containerTopMenu #account_menu .containerMenuAccAndBtn #menu_opts {
  display: block;
}
#global_head nav #containerTopMenu #account_menu .containerMenuAccAndBtn #menu_opts menu {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
}
#global_head nav #containerTopMenu #account_menu .containerMenuAccAndBtn #menu_opts menu li {
  margin: 0px 10px;
}
#global_head nav #containerTopMenu #account_menu .containerMenuAccAndBtn .mobile_menu_account {
  display: none;
}
#global_head nav #categ_menu {
  background-color: green;
  width: 100%;
  display: flex;
  justify-content: center;
}
#global_head nav #categ_menu .container980 {
  width: 980px;
  /* border-left: 0.5px outset gray;
  border-right: 0.5px outset gray; */
  padding: 15px 20px;
}
#global_head nav #categ_menu .container980 menu {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
#global_head nav #categ_menu .container980 menu li {
  margin: 0px 10px;
}
#global_head nav #categ_menu .container980 .mobile_menu_categories {
  display: none;
}
#global_head #hero {
  width: 100%;
  height: 30vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url("/addition/imgs/guitar-shop-hero-img__v03.jpg");
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: border-box;
  display: block;
  position: relative;
  padding-top: 5vh;
  /* &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
  } */
}
#global_head #hero:hover {
  background-color: rgba(81, 67, 78, 0.9);
  background-blend-mode: overlay;
}
#global_head #hero #hero_container {
  width: 980px;
  margin: auto;
  text-align: center;
}
#global_head #hero #hero_container form {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
#global_head #hero #hero_container form input[type=text] {
  flex-grow: 5;
  border: none;
  outline: none;
  padding: 1px 6px;
}
#global_head #hero #hero_container form input[type=text]:focus-visible {
  border: none;
  outline: none;
}
#global_head #hero #hero_container form input[type=submit] {
  flex-grow: 1;
  background-color: #4CAF50;
  color: white;
  padding: 5px 3px;
  margin: 0 0 0 1vw;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

main section.sect_popular_items .container980 {
  width: 980px;
  /* border-left: 0.5px outset gray;
  border-right: 0.5px outset gray; */
  margin: auto;
  text-align: center;
}
main section.sect_popular_items .container980 .product_carousel_container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
main section.sect_popular_items .container980 .product_carousel_container .product_carousel_box {
  width: 150px;
  background-color: white;
  margin: 10px 10px;
  border: 2px solid lightgrey;
  border-radius: 5px;
}
main section.sect_popular_items .container980 .product_carousel_container .product_carousel_box .img_container {
  text-align: center;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}
footer p,
footer li,
footer a {
  color: white;
}
footer .container980 {
  width: 980px;
  /* border-left: 0.5px outset gray;
  border-right: 0.5px outset gray; */
}
footer .container980 .footerContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
}
footer .container980 .footerContent .footerBox1,
footer .container980 .footerContent .footerBox2 {
  width: 33%;
}
footer .container980 .footerContent .footerBox1 h3,
footer .container980 .footerContent .footerBox2 h3 {
  margin-bottom: 10px;
}
footer .container980 .footerContent .footerBox1 ul,
footer .container980 .footerContent .footerBox2 ul {
  list-style: none;
  display: block;
}
footer .container980 .footerContent .footerBox2 {
  text-align: center;
}
footer .container980 .footerContent .footerBox3 {
  width: 33%;
  text-align: right;
}
footer .container980 .footerContent .footerBox3 h3 {
  margin-bottom: 10px;
}
footer .container980 .footerContent .footerBox3 ul {
  list-style: none;
  display: flex;
  justify-content: end;
}
footer .container980 .footerContent .footerBox3 ul li i {
  font-size: 1.5rem;
  margin: 0px 3px;
}/*# sourceMappingURL=global.css.map */