@media screen and (max-width: 768px) {
    main {  
        .container980 {    
             section {
                
                .prod_list_top {
                    text-align: center;
                }
                .prod_list_top {
                    text-align: center;
                }
                .product_details_container {
                    text-align: center;
                }
            }
        }
    
    }
}